
body {
    text-align: center;
    font-family: Arial, sans-serif;
    border: blueviolet;
    text-align: center;
   background-color: #f8f9fa;
   padding-top: 20px; 
   padding-bottom: 20px;
    }
#pag11 {
    background-color:burlywood;
    color: white;
    padding: 20px;
    margin-bottom: 20px; 
    }
#pag13 {
    background-color: #343a40;
    color: white;
    padding: 20px;
    margin-top: 20px;
    }
.card-body {
    color: black;
    }

.grid-container {
    display: grid;
    -ms-grid-column-align: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
    padding: 20px;
}
.row-eq-height {
    display: flex;
    flex-wrap: wrap;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card img {
    width: 50%;
}

.card-body {
    padding: 16px;
}

/* Stile per le colonne */
.col-sm {
    margin-bottom: 20px;
}
