body{
    background-color: beige;
    text-align: center;
}

p{
    text-align: left;
    font-size:x-large;
}

p .testoverde{
    text-align: left;
    font-size: x-large;
}

div p{
    color: rosybrown;
}

#testorosso{
    color:red;   
}
.testoverde{
    color :green;
    font-size: 30px;
    font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-style: italic;
}